# git files
.gitattributes export-ignore
.gitignore export-ignore

# Composer file
composer.json export-ignore

# general text file
README.md export-ignore

# Gulp file to minify CSS and JS
gulpfile.js export-ignore

# manifest file
package.json export-ignore

# PHPCS config file
.phpcs.xml

# PHP Unit test file
phpunit.xml

# Unminified CSS and JS files
about-plugins.css export-ignore
script-form.js export-ignore
