<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    verbose="true">
    <testsuites>
      <testsuite name="main">
      </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>./frontend</directory>
            <directory>./admin</directory>
            <file>custom-permalinks.php</file>
            <file>uninstall.php</file>
        </whitelist>
    </filter>
</phpunit>
